.espaco{ 
        margin-bottom: 75px; 
        
       }
.borda{
        border-style: groove;
        width: 1000px;
        border-width: 2px;
        background-color: seashell;
      }
#topo{
        font-size: large; 
        font-style: oblique;
        border-bottom-style:  solid; 
        border-width: 1px;
        
        
     }
body{
        background-color: #fff;
    }
#noticia1{
        margin-top: 75px;
         }
#pagina{
        margin-top: 40px;
        border-bottom-style: solid; 
        border-bottom-width: thin;
       }
#rodape{
        margin-top: 50px; 
        margin-bottom: 50px; 
        text-align: center;
       }
#bs-example-navbar-collapse-1{
        background-color: #fff;
        
                             }
#Formulario{
        margin-bottom: 50px; 
        margin-top: 75px;
           }
#areatexto{
        margin-bottom: 50px;
          }
#brand-image{
        height: 10px;
            }
#brand-image-rodape{
        height: 20px;        
                   }
#brand-image {
            margin-left: 14px;
            margin-top: 0px;
            height: 20px; 
        }                  
#principal{
    margin-bottom: 50px;
    margin-top: 75px;
    }        
#leiamais{
    margin-left: 525px;
   
         
}

.jumbotron{background-color: #fff;}